
{{#each erros}}
<div class="alert alert-danger"> {{text}}</div>
{{else}}

{{/each}}



<div class="card w-75">
    <div class="card-header">
        <h5>Nova Familia: <a href="/familias"> <button class="btn btn-info">Listar Familia</button> </a> 
        <a href="/"> <button class="btn btn-dark">Inicio</button> </a> 
        </h5>
    </div>
    
    <div class="card-body">
        <form action="/familias/nova" method="POST">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="Sua Familia" class="form-control" required> 
            <!-- <label for="slug">Slug: </label> 
            <input type="text" id="slug" name="slug" placeholder="Slug da Categoria" class="form-control">
            -->
            <button type="submit" class="btn btn-success mt-4" >Salvar Familia</button>
        </form>
    </div>
</div>

