
<div class="card w-80 ">
    <div class="card-header">
        <h5>Listagem das Familias: <a href="/familias/add"> 
            <button class="btn btn-success">Nova Familia</button> </a>
            <a href="/"> <button class="btn btn-dark">Inicio</button> </a> 
        </h5>

    </div>


    <div class="card-bordy">
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nome </th>
                    <th scope="col">Menus</th>
                </tr>
            </thead>
            <tbody>
                {{#each familias}}
                <tr>
                    <td>{{nome}}</td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr><!-- a href='/familias/edit/{{_id}}'> 
                                    <button class='btn btn-success  btn-sm'>Editar</button></a -->
                                </tr>
                                
                                <tr>
                                    <!-- form action="/familias/deletar" method="POST">
                                        <input type="hidden" name="id" value="{{_id}}">
                                        <button class='btn btn-danger btn-sm '>Apagar </button>
                                    </form -->
                                </tr>

                                
                            </thead>
                        </table>
                    </td>

                </tr>

                {{else}}

                <h4 class="mt-3" value="0">Não existe nenhuma Familia Cadastrada</h4>

                {{/each}}


            </tbody>

        </table>
    </div>



</div>