
<div class="card w-80 ">
    <div class="card-header text-center text-danger">
        <h5>Valor UNITÁRIO da Camisa R$ 39,99</h5>
    </div>


    <div class="card-bordy">
        <table class="table table-striped">
            <thead class="table-primary text-center">
                <tr>
                    <th scope="col">Nome: DIEGO DULTRA LOPES <a href="/"> <button class="btn btn-primary">Inicio</button> </a></th>
                     
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>
                        <table class="table">
                            <thead>
                                <div class="card-body text-center">
                                        <img class="card-img-top rounded" style="max-width: 300px" src="/img/qrcode.jpeg" alt="qrcode">
                                </div>
                                <div>
                                    <th scope="col" class="table-primary text-center ">CHAVE PIX: 52.105.523/0001-04 </th>
                                    <th scope="col" class="table-primary text-center "><a href="https://wa.me/5562991791872">Enviar Comprovante para 67 991791872</a>  </th>
                                    
                                </div>
                               
                            </thead>
                        </table>
                    </td>

                </tr>



            </tbody>

        </table>
    </div>



</div>