

<nav class="navbar navbar-expand-lg navbar-dark text-center" style="background-color: rgb(56, 36, 236);">
  <a class="navbar-brand" href="/">Natal Solidário 2023</a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link text-light" href="/pedidos" >Lista das Camisas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="/familias">Lista das Familias</a>
      </li>

      <li class=" nav-item">
        <a href='/visualizaqrcode'>
          <button class='btn btn-danger btn-sm'>GERAR QRCODE</button>
        </a>
      </li>

    </ul>
  </div>
 
</nav>